@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  background-color: #1f1f1f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #eaeaea;
  overflow: hidden;
}

input[type="text"] {
  padding: 8px 12px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #eaeaea;
  color: #eaeaea;
  margin-right: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #303030;
  color: #eaeaea;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #505050;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.movie-container {
  max-width: 600px;
  padding: 24px;
  border-radius: 8px;
  background-color: #303030;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-weight: 600;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 8px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 8px;
}

p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 16px;
}

img {
  width: 40%;
  margin-top: 16px;
  margin-bottom: 0;
  border-radius: 4px;
  height: auto;
}

.error {
  font-size: 16px;
  color: red;
}